body {
  font-size: 12pt;
  font-family: "courier new";
  color: black; 
  line-height: 16pt; 
  padding-left: 5pt; 
  padding-right: 5pt; 
  padding-top: 5pt;
  text-align: center;
}

h1 {
  font: 20pt Helvetica; 
  font-weight: bold; 
  line-height:20pt;
  background-color: #DAF7A6 
}

h2 {
  font: 16pt Helvetica; 
  font-weight: bold; 
  line-height: 16pt; 
  color: #C70039;
}

.timer {
  font-size: 28pt;
  margin-top: 5pt;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  
.title {
  font-size: 45px;
  margin-top: 5px;
}

.sectionname{
  font: 16pt Helvetica;
  font-weight: bold; 
  line-height: 18pt; 
  background-color: #C70039;
}

.box {
  float: left;
  width: 30%;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  border: 4px solid #FF5733;
  text-align: center;
}

a {
  background-color: #FFC300;
  font-size: 16pt;
  color: black;
  text-decoration:none
}
