body {
font-size: 12pt;
font-family: "courier new";
color: black; 
line-height: 16pt; 
padding-left: 5pt; 
padding-right: 5pt; 
padding-top: 5pt;
}

h1 {
font: 14pt Helvetica; 
font-weight: bold; 
line-height:20pt;
background-color: #DAF7A6 
}

h2 {
font: 12pt Helvetica; 
font-weight: bold; 
line-height: 16pt; 
color: #C70039;
}

.timer {
  text-align: center;
  font-size: 28pt;
  margin-top: 5pt;
  background-color: DodgerBlue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  
p.title {
  text-align: center;
  font-size: 45px;
  margin-top: 5px;
}
